.container {
    display: flex;
    align-items: center; 
    height: 1050px;
    width: 800px;
    margin: 20px auto;
    background: gray;
    flex-direction: column; 
    align-content: flex-start;
    border: 7px solid black;
}

.display {
    margin-top: 40px;
    background: white;
    height: 100px;
    width: 700px;
    font-size: 80px;
    text-align: right;
    padding: 15px;
    font-weight: 500;
}

.clear-container {
    margin-top: 30px;
    display: flex;
    height: 150px; 
    width: 700px;
    /* background: green; */
    align-content:flex-start;
    justify-content: center;
}

.button-container {
    display: flex;
    height: 700px;
    width: 800px;
    margin: 30px auto;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}

.button-number,
.button-operator,
.button-equal,
.button-decimal {
    height: 150px; 
    width: 150px; 
    background: white;
    margin: 8px 8px;
    font-size: 72px;
    font-weight: 450;
}

.button-erase, 
.button-clear {
    height: 150px; 
    width: 320px; 
    background: white;
    margin: 8px 8px;
    font-size: 72px;
    font-weight: 450;
}
